@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('./AkzidenzGroteskPro-MdEx.woff') format('woff'),
    url('./AkzidenzGroteskPro-MdEx.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    src: url('./Manrope-Regular.woff') format('woff'),
    url('./Manrope-Regular.woff2') format('woff2'),
    url('./Manrope-Regular.ttf') format('ttf');
}

