.header {
    width: 100%;
    height: 100px;
    background-color: #fff;

}

.header__logo{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;

}

.menu__list{
    display: flex;
    align-items: center;
    padding-left: 700px;
    gap:50px;
}

.menu__link{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color:#9199B2;
}

.menu__avatar{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap:8px;
}

